@use "../base" as *;

@mixin defBtn {
  outline: none;
  border-radius: 41px;

  color: #fff;

  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  width: 185px;
  height: 60px;
}
